{% extends "base.html" %}
{% block title %}Help{% endblock %}

{% block body %}
{% if username %}
  <div class="topnav">
    <a href="/">Home</a>
    <a href="/translator">Translator</a>
    <a href="/account">Account</a>
    <a href="/settings">Settings</a>
    <a href="/saved-translations">Saved Translations</a>
    <a class="current" href="/help">Help</a>
    <a href="/about">About</a>
  </div>
{% else %}
  <div class="topnav">
    <a href="/">Home</a>
    <a href="/translator">Translator</a>
    <a href="/sign-up">Sign Up</a>
    <a href="/login">Log In</a>
    <a class="current" href="/help">Help</a>
    <a href="/about">About</a>
  </div>
{% endif %}

<h1>Help</h1>
<hr>

<details>
  <summary>Not logged in</summary>
  <hr>

  <details>
    <summary>Using the translator</summary>
    <p><strong>You must have an internet connection for the translator to work.</strong></p>
    <p>
      Select the language you would like to translate from (left). Then, select the language you would like to translate to (right).
      The default language to translate from is called 'Detect Language', and whilst not an actual language, it will automatically
      figure out the language based on the source text, which is particularly useful when the text is of an unknown language.
      The default language to translate to is English. 
    </p>
    <p>
      Type your text into the text box on the left hand side.
      As the text changes, the translation will be displayed on the right hand side.
    </p>
    <p>You can also invert the translation if possible, swapping the languages.</p>
    <p>You can clear the source text at any time, and also copy the translation to the clipboard.</p>
    <p>The character limit for the input text is set at <strong>10000</strong>, and exceeding this will prevent a translation being made.</p>
    <a href="/translator">Go to the translator</a>
  </details>

  <details>
    <summary>Creating an account</summary>
    <ol>
      <li>Navigate to the sign up page.</li>
      <li>Create a username, following the criteria.</li>
      <li>Create a <strong>strong</strong> password, following the criteria.</li>
      <li>Confirm the password.</li>
      <li>Submit! Your account should hopefully be created, and you should be redirected to the home page.</li>
    </ol>
    
    {% for line in username_guidance.split("\n") %}
      <span>{{line}}</span><br>
    {% endfor %}
    <br>
    {% for line in password_guidance.split("\n") %}
      <span>{{line}}</span><br>
    {% endfor %}
    <br>
    {% if not username %}
      <a href="/sign-up">Sign up here</a>
    {% endif %}    
  </details>

  <details>
    <summary>Logging in to your account</summary>
    <ol>
      <li>Navigate to the login page.</li>
      <li>Enter your username.</li>
      <li>Enter your password.</li>
      <li>Submit! If the credentials are correct, you will be authenticated, logged in, and redirected to the home page.</li>
    </ol>

    {% for line in login_guidance.split("\n") %}
      <span>{{line}}</span><br>
    {% endfor %}
    <br>
    {% if not username %}
      <a href="/log-out">Log out here</a>
    {% endif %} 
  </details>
</details>

<hr>

<details>
  <summary>Logged in</summary>
  <hr>

  <details>
    <summary>Using the translator</summary>
    <p><strong>You must have an internet connection for the translator to work.</strong></p>
    <p>
      Select the language you would like to translate from (left). Then select the language you would like to translate to (right).
      The available languages to translate from and to are based on your settings.
      The default language to translate from and to is derived from your settings.
    </p>
    <p>
      Type your text into the text box on the left hand side.
      As the text changes, the translation will be displayed on the right hand side.
    </p>
    <p>You can also invert the translation if possible, swapping the languages.</p>
    <p>You can clear the source text at any time, and also copy the translation to the clipboard.</p>
    <p>
      Furthermore, you can save a translation provided you have enough space left to do so (each account is given 100KB)
      and also are not exceeding the maximum number of translations (256).
      <ol>
        <li>Press the 'save translation' button.</li>
        <li>Give your translation a name which is 1-128 characters long (inclusive).</li>
        <li>Save! The translation should be saved. See the saved translations section for more information.</li>
      </ol>
    </p>
    <p>The character limit for the input text is set in your settings (10000 by default), and exceeding this will prevent a translation being made.</p>
    <a href="/translator">Go to the translator</a>
  </details>

  <details>
    <summary>Managing your account</summary>
    <p>There isn't much you can do to your account itself (settings are available for the translator itself), but you can:</p>
    <ul>
      <li>
        <p><strong>Change your password</strong></p>
        <ol>
          <li>Navigate to the change password page.</li>
          <li>Enter your current password.</li>
          <li>Enter your new password.</li>
          <li>Confirm your new password.</li>
          <li>Submit! If all goes well, your password will be changed and you will be redirected back to your account.</li>
        </ol>
        <br>
        {% for line in password_guidance.split("\n") %}
        <span>{{line}}</span><br>
        {% endfor %}
        <br>
        {% if username %}
          <a href="/change-password">Change your password here</a>
        {% endif %} 
      </li>
      <li>
        <p><strong>Log out</strong></p>
        <ol>
          <li>Press the 'log out' button.</li>
          <li>Done! You will be redirected back to the home page, not logged in.</li>
        </ol>
        <br>
        {% if username %}
          <a href="/log-out">Log out here</a>
        {% endif %} 
      </li>
    </ul>
    <br>
    {% if username %}
      <a href="/account">Go to your account</a>
    {% endif %} 
  </details>

  <details>
    <summary>Modifying settings</summary>
    <p>Navigate to the settings page to get started.</p>
    <p>Here are the settings which are available:</p>
    <ul>
      <li>
        <p><strong>Select Languages</strong></p>
        {% for line in select_languages_guidance.split("\n") %}
          <span>{{line}}</span><br>
        {% endfor %}
      </li>
      <li>
        <p><strong>Default Languages</strong></p>
        {% for line in default_languages_guidance.split("\n") %}
          <span>{{line}}</span><br>
        {% endfor %}
      </li>
      <li>
        <p><strong>Character Limit</strong></p>
        {% for line in character_limit_guidance.split("\n") %}
          <span>{{line}}</span><br>
        {% endfor %}
      </li>
    </ul>
    <p>
      Upon any changes to settings, you must update the settings for these changes to occur.
      Simply press the corresponding button at the bottom.
    </p>
    <p>The option to reset all the settings to default is provided for convenience.</p>
    {% if username %}
      <a href="/settings">Go to your settings</a>
    {% endif %}
  </details>

  <details>
    <summary>Utilising saved translations</summary>
    <p>Navigate to the saved translations page to get started.</p>
    <p>For information on how to actually save translations, go to the translator section and instructions are provided there.</p>
    <p>
      The saved translations feature is pretty powerful because you can access translations
      repeatedly without having to input them into the translator each time. 
    </p>
    <p>The main page provides a summary table providing information about each saved translation, including:</p>
    <ul>
      <li>The language being translated from</li>
      <li>The language being translated to</li>
      <li>Number of characters of source text</li>
      <li>Number of characters of translated text</li>
      <li>Size of the file the translation is stored in. It is compressed.</li>
      <li>Date and time the translation was saved</li>
    </ul>
    <p>
      The limit to these saved translations is 100KB in total file size and a maximum of 256 saved translations. Neither can be breached.
      This is because there is limited space on the server, and as each translation is saved in a separate file, too many translations could cause lag.
    </p>
    <p>
      Links are provided to view each saved translation, and these links are found on the translations' names.
      The source text and translation can be viewed and copied, and the translation itself can be deleted.
    </p>
    <p>There is an option to delete all saved translations for whatever reason, but obviously, be careful in doing so.</p>
    {% if username %}
      <a href="/saved-translations">Go to your saved translations</a>
    {% endif %}
  </details>
</details>

<hr>
{% endblock %}