* {
    font-family: Consolas;
}

body {
    margin: 1em 5%;
}

h1 {
    font-size: 3em;
    padding: 0.5em;
    background-image: linear-gradient(to right, greenyellow, #7eddf7);
    border: 2px solid black;
    border-radius: 20px;
}

h2 {
    font-size: 1.5em;
}

p, span {
    font-size: 1em;
}

li {
    font-size: 1em;
}

select {
    font-size: 0.9em;
    margin: 1em 0;
    padding: 0.5em;
    width: 100%;
}

option {
    font-size: 0.9em;
}

textarea {
    font-size: 1em;
    resize: none;
    border: 1.5px solid black;
    border-radius: 5px;
}

button, input[type=submit], input[type=reset] {
    background-color: #7eddf7;
    border: 1px solid black;
    border-radius: 5px;
}

button:hover, input[type=submit]:hover, input[type=reset]:hover {
    background-color: greenyellow;
    color: red;
    cursor: pointer;
}

button:disabled:hover, input[type=submit]:disabled:hover {
    background-color: #7eddf7;
    color: grey;
    cursor: not-allowed;
}

label {
    font-size: 1.25em;
    margin: 0.5em 1em 0.5em 0;
    text-align: right;
}

input[type=text], input[type=password] {
    font-size: 1.25em;
    width: 100%;
    min-width: 9em;
    max-width: 16em;
    margin: 0.5em 0;
}

input[type=range] {
    width: 35%;
    min-width: 10em;
}

input[type=submit] {
    font-size: 1.5em;
    margin: 0.5em 0;
}

summary {
    font-size: 1.25em;
    margin: 1em 0;
}

table {
    width: 100%;
    margin: 2em 0;
}

table, th, td {
    border: 2px solid black;
    border-collapse: collapse;
}

th, td {
    text-align: center;
    word-wrap: break-word;
    width: 25%;
    max-width: 5em;
    padding: 0.5em;
}

th {
    font-size: 1.5em;
}

.grid-container {
    display: grid;
}

.unselectable, summary {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.topnav {
    overflow: hidden;
    background-color: #ecede1;
    width: 100%;
}

.topnav a {
    font-size: 1.5em;
    float: left;
    text-decoration: none;
    color: black;
    background-color: #ecede1;
    padding: 0.5em;
    text-align: center;
    min-width: 3em;
}

.topnav .current {
    background-color: #7eddf7;
}

.topnav a:hover {
    color: red;
    background-color: greenyellow;
}

.credentials-status {
    font-size: 0.75em;
    margin: 0 0 1em 0;
}

.settings-language-label {
    font-size: 1.25em;
}

#happy-translating {
    font-size: 1.5em;
}

#hello-image {
    margin: 2em 0;
}

#from-lang, #to-lang {
    width: 100%;
    border: 4px solid black;
    border-radius: 25px;
    font-size: 1.5em;
    text-align: center;
    padding: 5px;
    height: 4em;
    margin: 1em 0 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#from-lang-div {
    margin-right: 0.5em;
}

#to-lang-div {
    margin-left: 1em;
}

#src-text, #translated-text {
    width: 100%;
}

#translated-text {
    border: 1.5px solid black;
    border-radius: 5px;
    height: 17.7em;
    overflow-x: auto;
    overflow-y: auto;
    padding: 1px 1px;
    margin: 0;
}

#translator-container {
    grid-template-columns: calc(50% - 2.5em) 5em calc(50% - 2.5em);
}

#invert-languages {
    height: 1em;
    width: 1em;
    margin: 0.45em 0 0 5px;
    border: 1px solid black;
    border-radius: 50%;
    font-size: 5em;
    vertical-align: top;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

#copy-translation {
    margin-top: 0.35em;
}

#sign-up-grid, #login-grid, #change-password-grid {
    grid-template-columns: 15em calc(100% - 15em);
    margin: 2.5em 0;
    padding: 2.5em 0;
    border: 2px solid black;
    border-radius: 10px;
    overflow-x: auto;
    max-width: 40em;
}

#sign-up-submit, #login-submit, #log-out, #change-password-submit, #update-settings, #save-translation-button {
    font-size: 1.5em;
}

.good-message {
    font-size: 1.5em;
    background-color: greenyellow;
    padding: 1em;
    overflow-x: auto;
    border: 1px solid black;
    border-radius: 10px;
}

.bad-message {
    font-size: 1.5em;
    background-color: red;
    padding: 1em;
    overflow-x: auto;
    border: 1px solid black;
    border-radius: 10px;
}

#languages-grid {
    grid-template-columns: 33.33333% 33.33333% 33.33333%;
}

#save-translation {
    margin: 1em 0;
}

#save-translation input, label {
    font-size: 1em;
}

#new-saved-translation-name {
    max-width: 25em;
}

#new-saved-translation-status {
    font-size: 0.75em;
    color: red;
}