{% extends "base.html" %}
{% block title %}Change Password - {{username}}{% endblock %}
{% block head %}
  {{super()}}
  <script src="{{ url_for('static', filename='changepassword.js') }}"></script>
{% endblock %}

{% block body %}
<a href="/account">< Back to Account</a>

{% if incorrect_current_password %}
  <p class="bad-message" id="incorrect-current-password">Incorrect current password, please try again.</p>
{% elif invalid_credentials %}
  <p class="bad-message" id="invalid-credentials">Invalid credentials - criteria not followed.</p>
{% elif error %}
  <p class="bad-message" id="error">An error occured. If you did not tamper with the website code, sorry for the inconvenience. Otherwise, what did you expect?</p>
{% endif %}

<h1>Change Password</h1>
<h2>{{username}}</h2>
<details>
  <summary>Password Guidance</summary>
  <ul>
    {% for line in password_guidance.split("\n") %}
      <li>{{line}}</li>
    {% endfor %}
  </ul>
</details>
<hr>

<form action="/change-password" method="post" novalidate>
  <div class="grid-container" id="change-password-grid">
    <label for="current-password">Current Password:</label>
    <input type="password" name="current-password" id="current-password" placeholder="Current password" required>

    <label for="new-password">New Password:</label>
    <div>
      <input type="password" name="new-password" id="new-password" placeholder="New password" required>
      <p class="credentials-status" id="new-password-status"></p>
    </div>

    <label for="confirm-new-password">Confirm New Password:</label>
    <div>
      <input type="password" name="confirm-new-password" id="confirm-new-password" placeholder="Confirm new password" required>
      <p class="credentials-status" id="confirm-new-password-status"></p>
    </div>
  </div>

  <input type="submit" value="Change Password" id="change-password-submit" disabled>
  <br>
  <input type="reset" value="Clear" id="change-password-reset" onclick="clearChangePasswordForm();">
</form>
<hr>

<script>trackChanges();</script>
{% endblock %}