{% extends "base.html" %}
{% block title %}Log In{% endblock %}
{% block head %}
  {{super()}}
  <script src="{{ url_for('static', filename='login.js') }}"></script>
{% endblock %}

{% block body %}
<div class="topnav">
  <a href="/">Home</a>
  <a href="/translator">Translator</a>
  <a href="/sign-up">Sign Up</a>
  <a class=current href="/login">Log In</a>
  <a href="/help">Help</a>
  <a href="/about">About</a>
</div>

{% if invalid_credentials %}
  <p class="bad-message" id="invalid-credentials">Username or password is incorrect, please try again.</p>
{% elif error %}
  <p class="bad-message" id="error">An error occured. If you did not tamper with the website code, sorry for the inconvenience. Otherwise, what did you expect?</p>
{% endif %}

<h1>Log In</h1>
<details>
  <summary>Guidance</summary>
  <p><pre>{{login_guidance}}</pre></p>
</details>
<hr>

<form action="/login" method="post" autocomplete="off">
  <div class="grid-container" id="login-grid">
    <label for="username">Username:</label>
    <input type="text" id="username" name="username" placeholder="Username" required>

    <label for="password">Password:</label>
    <input type="password" id="password" name="password" placeholder="Password" required>
  </div>

  <input type="submit" value="Log In" id="login-submit">
  <br>
  <input type="reset" value="Clear" id="login-reset">
</form>
<hr>

<p>Don't already have an account? Sign up <a href="/sign-up">here</a>.</p>

<script>trackChanges();</script>
{% endblock %}