{% extends "base.html" %}
{% block title %}Saved Translations - {{username}}{% endblock %}
{% block head %}
  {{super()}}
  <script src="{{ url_for('static', filename='savedtranslations.js') }}"></script>
{% endblock %}

{% block body %}
<div class="topnav">
  <a href="/">Home</a>
  <a href="/translator">Translator</a>
  <a href="/account">Account</a>
  <a href="/settings">Settings</a>
  <a class="current" href="/saved-translations">Saved Translations</a>
  <a href="/help">Help</a>
  <a href="/about">About</a>
</div>

{% if saved_translation_does_not_exist %}
  <p class="bad-message" id="saved-translation-does-not-exist">The specified saved translation does not exist.</p>
{% elif just_deleted_saved_translation %}
  <p class="good-message" id="just-deleted-saved-translation">Successfully deleted the saved translation.</p>
{% elif just_deleted_all_saved_translations %}
  <p class="good-message" id="just-deleted-all-saved-translations">Successfully deleted all of the saved translations.</p>
{% endif %}

<h1>Saved Translations</h1>
<h2>{{username}}</h2>
<p>Storage used (2 decimal places): <span style="color: {% if (kb_used / 100) >= 0.75 %}orange{% else %}green{% endif %};">{{kb_used}}KB / 100KB</span></p>
<p>Saved translation count: <span style="color: 
  {% if (translation_count) == 256 %}red
  {% elif (translation_count) >= 192 %}orange
  {% else %}green{% endif %};">{{translation_count}} / 256</span></p>
<hr>

{% if translations %}
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>From</th>
        <th>To</th>
        <th>Source text character count</th>
        <th>Translated text character count</th>
        <th>File size (KB) (2dp)</th>
        <th>Date and time (UTC) (YYYY-MM-DD hh:mm:ss)</th>
      </tr>
    </thead>
    <tbody>
      {% for translation in translations %}
        <tr>
          <td><a href="/saved-translations/{{translation.split('.')[0]}}">{{translations[translation]["name"]}}</a></td>
          <td>{{translations[translation]["from"]}}</td>
          <td>{{translations[translation]["to"]}}</td>
          <th>{{additional_data[translation]["source_text_length"]}}</th>
          <th>{{additional_data[translation]["translation_length"]}}</th>
          <th>{{additional_data[translation]["file_size"]}}</th>
          <td>{{translations[translation]["datetime"]}}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  <button onclick="deleteAllSavedTranslations();">Delete all saved translations</button>
{% else %}
  <p><em>There are currently no saved translations.</em></p>
{% endif %}

<hr>
{% endblock %}